@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: alternate-gothic-atf;
  font-size: 10px;
}

:root {
  --c-dark: #070707;
  --swiper-theme-color: white !important;
  --swiper-pagination-bullet-inactive-color: white !important;
}

/* override slider navigation buttons */
.swiper-pagination-custom {
  position: absolute;
  bottom: 30px !important;
  z-index: 20;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  height: 5px !important;
  width: 40px !important;
  border-radius: 25px !important;
  margin: 0 3px !important;
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --swiper-theme-color: #070707 !important;
    --swiper-pagination-bullet-inactive-color: #070707 !important;
  }

  html {
    font-size: 12px;
  }

  .swiper-pagination-custom {
    bottom: 0 !important;
  }

  .swiper-pagination-bullet {
    width: 6.125rem !important;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}
