@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: alternate-gothic-atf;
  font-size: 9px;
}

:root {
  --c-dark: #070707;

  --swiper-theme-color: #070707 !important;
}

/* override slider navigation buttons */
/* hide navigation buttons on mobile screens */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  height: 3px !important;
  width: 40px !important;
  border-radius: 25px !important;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
  .swiper-pagination-bullet {
    height: 4px !important;
    width: 6.125rem !important; /* 98px */
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}
